.header {
  width: 100%;
  padding: 1.5625rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  margin-top: 0;
  position: relative;

  @media screen and (min-width: 1024px) {
    padding: 2.5rem;
    margin-bottom: 5rem;
    padding-bottom: 4.375rem;
  }
  @media screen and (min-width: 1440px) {
    padding: 2.5rem;
    margin-bottom: 5rem;
    padding-bottom: 2.25rem;
  }

  &-logo {
    height: 1.6875rem;

    @media screen and (min-width: 1024px) {
      height: unset;
      width: 5.4375rem;
    }
  }

  &-hamburger {
    width: 1.625rem;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    @media screen and (min-width: 1024px) {
      display: none;
    }

    &:hover {
      cursor: pointer;
    }

    img {
      transition: width 0.3s;
      width: 0;
      height: auto;
      position: absolute;
      z-index: 3;
    }

    .icon--show {
      transition: width 0.3s;
      width: 100%;
    }
  }
}
